[Unit]
Description=GPIO Build Monitor release updater
Documentation=https://github.com/worthington10TW/gpio-build-monitor
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=pi
Group=pi
EnvironmentFile=-/etc/gpio-build-monitor/env
ExecStart=/home/pi/gpio-build-monitor/bin/update
